{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class='parent'>
  <div class='child' >
  {% comment %} <div class='container'> {% endcomment %}
    <div class='text-left'>
        <br>
        <br>
        <h2 class='section-heading text-uppercase'>Add a Joural Entry</h2>
        <br>
    </div>
    <br>
    <form name='form' method='post' action="{% url 'addJournalEntry' %}">
       {% csrf_token %}
       <input type="hidden" id='journalentry_id' name='journalentry_id' value='{{record.id}}'>

       <label for="date">Date:</label>
       <input type="date" name='date' id='date' value='{{record.date}}' autofocus>
       <br><br>

       <label for="meal">Meal:</label>
       <select name="meal" id="meal" value='{{record.meal}}'>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Snack">Snack</option>
       </select>
       <br><br>

       <label for="food_name">Food:</label>
       <input type="text" name='food_name' id='food_name' value='{{record.food_name}}' >
       <br><br>

       <label for="servings">Servings:</label>
       <input type="number" name='servings' id='servings' value='{{record.servings}}' >
       <br><br>

       <button type='submit'>Update</button>
       <br>
       <br>
    </form>
  </div>

    <div class='child'>
      <h3> Micros Per Serving:</h3>
          {% for thing in food_item %}
            <p>{{ thing.nutrient_name }} {{thing.value}} </p>
            {% endfor %}
    </div>
</div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  {% endblock %}