{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class='parent'>
<h3>Enter your food here:</h3>

<form method="POST" action="{% url 'api' %}">
  {% csrf_token %}
  <input type="text" name="searchItem" id="searchItem">
  <button class='btn btn-primary' type="submit">Search</button>
</form>

<br>
<h4>Specifify type </h4>
<form method="POST" action="{% url 'api' %}">
  {% csrf_token %}
  {% comment %} <select name='data' id='data' value='{{data}}'> </select> {% endcomment %}
  <select name="searchItem" id="searchItem">
    {% for item in data %}
    <option value="{{ item.food_id }}">{{ item.food_name }}</option>
    {% endfor %}
  </select>
  <button class='btn btn-primary' type="submit">Select</button>
</form>

</section>


{% comment %} {% for item in data.0.nutrients %}
<p>{{item}}  </p>
{% endfor %}{% endcomment %}

{% endblock %} 