{% extends 'base.html' %}
{% load static %}
{% block content %}

<br><br><br><br><br><br>
<form method="GET" action="{% url 'api' %}">
  {% csrf_token %}
  <input type="text" name="food" id="food">
  <button type="submit">Search</button>
</form>
<form method="POST" action="{% url 'api' %}">
  {% csrf_token %}
  <select name="food_item" id="food_item">
    {% for item in data %}
    <option value="{{ item.nutrients }}">{{ item.food_name }}</option>
    {% endfor %}
  </select>
  <button type="submit">Select</button>
</form>
<div>
  {% for nutrient in nutrition %}
  <p value="{{ nutrient.nutrient_name }}">{{ nutrient.nutrient_name }} </p>
  {% endfor %}
</div>

{% endblock %}