{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Content section 1-->
                <!-- Header-->
                <header class="masthead text-center text-white">
                    <div class="masthead-content">
                        <div class="container px-5">
                             <h1 class="masthead-heading mb-0">NFK Health Tracker</h1> 
                            <br><br>
                            <h2 ><u>Our Mission</u> <br>
                                Prevent kidney and urinary tract diseases, improve
                                the health and well-being of individuals and
                                families affected by these diseases, and increase
                                the availability of all organs for transplantation.
                                </h2>
                            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
                        </div>
                    </div>
                    <div class="bg-circle-1 bg-circle"></div>
                    <div class="bg-circle-2 bg-circle"></div>
                    <div class="bg-circle-3 bg-circle"></div>
                    <div class="bg-circle-4 bg-circle"></div>
                </header> 

        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                         <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/KidneyPic1.png" alt="..." /></div> 
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">The Silent Killer</h2>
                            <p>33%
                                of the population is
                                high risk for kidney
                                disease<br>
                            <br> 90%
                            of kidney function can
                            be lost before
                            symptoms appear
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/KidneyPic2.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Treatment Options
                                </h2>
                            <p>Dialysis: <br>
                                The process of removing a
                                patient's blood from the body,
                                filtering it, and putting it back in
                                them. <br><br>
                                Transplant: <br>
                                Surgically transfer another
                                person's organ or tissue into a
                                patient.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/KidneyPic3.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Facts on these Treatment Options</h2>
                            <p>Dialysis: <br>
                                 - 50% death rate after 5 years <br>
                                 - 12-15 hours per week <br>
                                 - Mimics ≈10-15% normal kidney function<br><br>
                                Kidney Transplant: <br>
                                 - Average kidney transplant lasts 9-14 years<br>
                                 - Immunosuppression<br>
                                 - 3-5 year wait (5-10 in California)<br>
                                 
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  

    </body>
</html>

{% endblock %}
