{% extends 'base.html' %}
{% load static %}
{% block content %}



  <!-- Masthead-->
  <header class="masthead text-white text-center ">
      <div class="container">
          <h2 class="">Welcome {{ current_person.first_name }}, to your unique profile!</h2>
          <h4 class="">Scroll down for more details</h4>

      </div>
  </header>

  <!--Morbitity display and Adding-->
  <section class='text-center container-sm'>
    <br>
    <h1><b>Your Morbitities:</b></h1>
    <a class='btn btn-primary' href="{% url 'addMorbidEntry' %}">Add Morbidity</a>
    <br><br>
    {% for morbidity in morbidities %}
              <p>{{morbidity.type_name}}</p>
              {% empty  %}
                <p>No Morbitities!</p>
          {% endfor %} 
  </section>
  <br><br><br><br>
<!--Daily totals -->
<section class='text-center container-sm'>
  <br>
  <h1><b>Today's Intake Totals:</b></h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Daily Sodium Intake Total </th>
                <th scope="col">Daily Protein Intake Total</th>
                <th scope="col">Daily Potassium Intake Total</th>
                <th scope="col">Daily Phosphorus Intake Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{micros.sodium}} mg</td>
                <td>{{micros.protein}} g/kg</td>
                <td>{{micros.k}} mg</td>
                <td>{{micros.phos}} mg</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>Healthy Intake Ranges:</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sodium Intake</th>
                <th scope="col">Protein Intake</th>
                <th scope="col">Potassium Intake</th>
                <th scope="col">Phosphorus Intake</th>
            </tr>
        </thead>
        <br>
        <tbody>
            <tr>
                <td>{{stageMicros.sodiumll}} - {{stageMicros.sodiumul}} mg</td>
                <td>{{stageMicros.proteinll}} - {{stageMicros.proteinul}} g/kg</td>
                <td>{{stageMicros.kll}} - {{stageMicros.kul}} mg</td>
                <td>{{stageMicros.phosll}} - {{stageMicros.phosul}} mg</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h2 >Intake Alerts:</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sodium Intake</th>
                <th scope="col">Protein Intake</th>
                <th scope="col">Potassium Intake</th>
                <th scope="col">Phosphorus Intake</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              {% for key, value in alerts.items %} 
              {% if key != "water" %}
              {% if value == 'Daily intake is lower than recommended' or value == 'Daily intake is higher than recommended' %} 
                <td style="color:#FF0000">{{value}}</td>
                {%else%}
                <td style="color:green";>{{value}}</td>
                {% endif %} 
                {% endif %}
              {% endfor %} 
            </tr>
        </tbody>
    </table>
</section>



    <div class='parent'>
      <div class='child'>  
        <!-- Here is your protein intake graph compared to averages -->
        <canvas id="myChart2" width="400" height="400"></canvas>
        <script>
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ['g/kg - Your Intake', 'Normal', 'Stage 3/4', 'Dialysis'],
                datasets: [{
                    label: 'Your Protein Intake (g/kg)',
                    data: [{{micros.protein}}, 0.8, 0.6, 1.2],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.3)',
                        'rgba(54, 162, 235, 0.3)',
                        'rgba(255, 206, 86, 0.3)',
                        'rgba(75, 192, 192, 0.3)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
       
        </script>
<script>

</script>
    </div>
      <div class='child'>
        <!-- Chart 2 = this is the pie chart and will compare the dv percent values (k, phos, sodium)-->
        <canvas id="myChart1" width="400" height="400"></canvas>
        <script>
        const ctx1 = document.getElementById('myChart1').getContext('2d');
        const myChart1 = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['Sodium', 'Potassium (K)', 'Phosphorus (Phos)'],
                datasets: [{
                    label: 'Percent of DV',
                    data: [{{micros.sodium}}, {{micros.k}} , {{micros.phos}} ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.3)',
                        'rgba(54, 162, 235, 0.3)',
                        'rgba(255, 206, 86, 0.3)'
                    ],
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        
      </div>
    </div>

    <script>
      var sodium = (document.getElementById("sodium")).innerHTML;
      alert(sodium)
    </script>
    <!-- Make suggstions to improve health -->
    <h3 class="text-center">Here's what we suggest... </h3> 
  <section class='parent1'>
    <div>
      <!-- Sodium -->
      <div class="child">
        <h6> Sodium: </h6>
        {% if alerts.sodium == 'Daily intake is in the recommended range!' %} 
          <p>You're sodium levels are looking great! Keep it up! </p>
        {% elif alerts.sodium == 'Daily intake is lower than recommended' %} 
          <p><span style="color:#FF0000">LOW Sodium</span>. Looks like you’re eating not enough sodium, I would suggest eating 
            more canned vegetables, salted nuts, or eggs.</p>
        {% else %}
          <p><span style="color:#FF0000">HIGH Sodium</span>. Looks like you’re eating too much sodium, 
            I would suggest eating less processed foods and buying more fresh foods. 
            <p>Avoid Breads and rolls, Pizzas, Sandwiches, cured meats, Burritos and tacos.</p>
            </p>
        {% endif %} 
      </div>

      <!-- Protein -->
      <div class="child">
        <h6> Protein: </h6>
      {% if alerts.protein == 'Daily intake is in the recommended range!' %} 
        <p>You're protein levels are great! Congrats! </p>
      {% elif alerts.protein == 'Daily intake is lower than recommended' %} 
        <p> <span style="color:#FF0000">LOW Protein</span>. Looks like you are eating not enough protein, I would suggest eating more meat, eggs, or dairy.</p>
      {% else %}
        <p> <span style="color:#FF0000">HIGH Protein</span>. Looks like you are eating too much protein, I would suggest eating less meat, eggs, or dairy.</p>
      {% endif %} 
      </div>


      <!-- Potassium -->
      <div class="child">
        <h6> Potassium: </h6>
      {% if alerts.k == 'Daily intake is in the recommended range!' %} 
        <p>Your potassium levels are looking good!</p>
      {% elif alerts.k == 'Daily intake is lower than recommended' %} 
        <p> <span style="color:#FF0000">LOW Potassium</span>. Looks like you are eating not enough potassium, I would suggest eating more bananas, potatoes, or tomatoes.</p>
      {% else %}
        <p> <span style="color:#FF0000">HIGH Potassium</span>. Looks like you are eating too much potassium, I would suggest eating more fruits and pastas.</p>
      {% endif %} 
      </div>

      <!-- Phos -->
      <div class="child">
        <h6> Phosphorus: </h6>
      {% if alerts.phos == 'Daily intake is in the recommended range!' %} 
        <p>Your phosphorus levels are great. Keep it up!</p>
      {% elif alerts.phos == 'Daily intake is lower than recommended' %} 
        <p> <span style="color:#FF0000">LOW Potassium</span>. Looks like you are eating not enough Phosphorus, I would suggest eating more meat, bran cereals, dairy foods.</p>
      {% else %}
        <p> <span style="color:#FF0000">HIGH Potassium</span>. Looks like you are eating too much Phosphorus, I would suggest eating more fresh foods, bread, or pasta.</p>
      {% endif %} 
      </div>

    </div>
  </section>
  

  <section class="parent">

    <h1 class="text-center">Let's see what your water intake is looking like... </h1>
    <div class="child">
   
  <div class="child">
    <div class = "border p-3 shadow">
      <h4>Water Intake (L):</h4>
      <hr>
      <form method="POST">
          {% csrf_token %}
          {{ form }}
          <!-- <label for="water_intake">Add your water intake here:</label>
          <input type="text" name='water-intake' id='value'  >
          <input class = 'btn btn-success btn-block' type='submit' id='value' value = 'Log my intake!'> -->
          <input type="text" placeholder="Type something..." id="myInput">
          <button class='btn btn-primary' type="button" onclick="getInputValue();">Log my intake!</button>
          
      </form>
      <script>
      function getInputValue(){
            // Selecting the input element and get its value 
            var inputVal = document.getElementById("myInput").value;
            
            // Displaying the value
            var array = [3.7, 2.7];
            array.unshift(inputVal);
            rungraph(array);

            // if (inputVal > 0.1) {
            //   output = ''
            // }
          
            // alert(output)
        }

        
      </script>
  </div>
    </div>


    <div>
         <!-- Here is the water graph to track your water -->
         <canvas id="myChart3" width="400" height="400" ></canvas>
         <script>
        function rungraph(array){
        
         const ctx = document.getElementById('myChart3').getContext('2d');
         const myChart = new Chart(ctx, {
             type: 'bar',
             data: {
                 labels: ['Your Intake', "Men need 3.7L/day", 'Women need 2.7L/day'], // days go here
                 datasets: [{
                     label: 'L/day of Water',
                     data: array, // amount of water goes here
                     backgroundColor: [
                         'rgba(255, 99, 132, 0.2)',
                         'rgba(54, 162, 235, 0.2)',
                         'rgba(255, 206, 86, 0.2)',
                         'rgba(75, 192, 192, 0.2)',
                         'rgba(153, 102, 255, 0.2)',
                         'rgba(255, 159, 64, 0.2)'
                     ],
                     borderColor: [
                         'rgba(255, 99, 132, 1)',
                         'rgba(54, 162, 235, 1)',
                         'rgba(255, 206, 86, 1)',
                         'rgba(75, 192, 192, 1)',
                         'rgba(153, 102, 255, 1)',
                         'rgba(255, 159, 64, 1)'
                     ],
                     borderWidth: 1
                 }]
             },
             options: {
               responsive: false,
                 scales: {
                     y: {
                         beginAtZero: true
                     }
                 }
             }
             
         });

         }
         </script>
    </div>
    
  </section>


   <!--Journal Entry display and Editing-->
   <section class='text-center container-sm'>
    <br>
    <h1><b>JOURNAL ENTRIES</b></h1>
        
    <a class='btn btn-primary' href="{% url 'api' %}">Add Entry</a>
  
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Meal</th>
                  <th scope="col">Food</th>
                  <th scope="col">Servings</th>
                </tr>
              </thead> 
              <tbody>
              {% for journalentry in journalentry %}
                <tr>
                  <td>{{journalentry.date}}</td>
                  <td>{{journalentry.meal}}</td>
                  <td>{{journalentry.food_name}}</td>
                  <td>{{journalentry.servings}}</td>
                  <td><a class="btn btn-primary" href="{% url 'showSingleEntry' journalentry_id=journalentry.id %}">Edit</a></td>
                  <td><a class="btn btn-primary" href="{% url 'deleteEntry' journalentry_id=journalentry.id %}">Delete</a></td>
                </tr>
              {% endfor %} 
              </tbody>
            </table> 
    </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

   
      
{% endblock %}
