{% extends 'base.html' %}
{% load static %}
{% block content %}



  <!-- Masthead-->
  <header class="masthead text-white text-center ">
      <div class="container">
          <h2 class="">Welcome {{ current_person.first_name }} to your unique profile!</h2>
          <h4 class="">Scroll down for more details</h4>

      </div>
  </header>

  <!--Morbitity display and Adding-->
  <section class='text-center container-sm'>
    <br>
    <h1><b>Your Morbitities:</b></h1>
    <a class='btn btn-primary' href="{% url 'addMorbidEntry' %}">Add Morbidity</a>
    <br><br>
    {% for morbidity in morbidities %}
              <p>{{morbidity.type_name}}</p>
              {% empty  %}
                <p>No Morbitities!</p>
          {% endfor %} 
  </section>

<!--Daily totals -->
<section class='text-center container-sm'>
  <br>
  <h1><b>Today's Intake Totals:</b></h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Daily Sodium Intake Total </th>
                <th scope="col">Daily Protein Intake Total</th>
                <th scope="col">Daily Water Intake Total</th>
                <th scope="col">Daily Potassium Intake Total</th>
                <th scope="col">Daily Phosphorus Intake Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{micros.sodium}} mg</td>
                <td>{{micros.protein}} g/kg</td>
                <td>{{micros.water}} L/day</td>
                <td>{{micros.k}} mg</td>
                <td>{{micros.phos}} mg</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h2><b>Healthy Intake Ranges:</b></h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sodium Intake</th>
                <th scope="col">Protein Intake</th>
                <th scope="col">Water Intake</th>
                <th scope="col">Potassium Intake</th>
                <th scope="col">Phosphorus Intake</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{stageMicros.sodiumll}} - {{stageMicros.sodiumul}} mg</td>
                <td>{{stageMicros.proteinll}} - {{stageMicros.proteinul}} g/kg</td>
                <td>{{stageMicros.waterll}} - {{stageMicros.waterul}} L/day</td>
                <td>{{stageMicros.kll}} - {{stageMicros.kul}} mg</td>
                <td>{{stageMicros.phosll}} - {{stageMicros.phosul}} mg</td>
            </tr>
        </tbody>
    </table>
    <h2 ><b>Intake Alerts:</b></h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sodium Intake</th>
                <th scope="col">Protein Intake</th>
                <th scope="col">Water Intake</th>
                <th scope="col">Potassium Intake</th>
                <th scope="col">Phosphorus Intake</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              {% for key, value in alerts.items %} 
              {% if value == 'Daily intake is lower than recommended' or value == 'Daily intake is higher than recommended' %} 
                <td style="color:#FF0000">{{value}}</td>
                {%else%}
                <td style="color:green";>{{value}}</td>
                {% endif %} 
              {% endfor %} 
            </tr>
        </tbody>
    </table>
    {% comment %} {% with 'alerts.sodium alerts.protein alerts.water alerts.k {{alerts.phos}}' as list %}
  {% for i in list.split %}
  {% comment %} {% if alerts.i == 'Daily intake is lower than recommended'%} {% endcomment %}
    {% comment %} {% else %} {% endcomment %}
    {% comment %} {{ alerts.i }}<br> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
  {% comment %} {% endfor %}
{% comment %} {% endwith %} {% endcomment %}
</section>

 {% comment %} <br>
 <br>
 <br>
 <br>

  <h1 class="text-center">Let's take a look closer look at your micronutrient intake... </h1> {% endcomment %}


    <div class='parent'>
      <div class='child'>  
        <!-- Here is your protein intake graph compared to averages -->
        <canvas id="myChart2" width="400" height="400"></canvas>
        <script>
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ['g/kg - Your Intake', 'Normal', 'Stage 3/4', 'Dialysis'],
                datasets: [{
                    label: 'Your Protein Intake (g/kg)',
                    data: [{{micros.protein}}, 0.8, 0.6, 1.2],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.3)',
                        'rgba(54, 162, 235, 0.3)',
                        'rgba(255, 206, 86, 0.3)',
                        'rgba(75, 192, 192, 0.3)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
       
        </script>
<script>

</script>
    </div>
      <div class='child'>
        <!-- Chart 2 = this is the pie chart and will compare the dv percent values (k, phos, sodium)-->
        <canvas id="myChart1" width="400" height="400"></canvas>
        <script>
        const ctx1 = document.getElementById('myChart1').getContext('2d');
        const myChart1 = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['Sodium', 'Potassium (K)', 'Phosphorus (Phos)'],
                datasets: [{
                    label: 'Percent of DV',
                    data: [{{micros.sodium}}, {{micros.k}} , {{micros.phos}} ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.3)',
                        'rgba(54, 162, 235, 0.3)',
                        'rgba(255, 206, 86, 0.3)'
                    ],
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        
      </div>
    </div>



  <section class="parent">

    <h1 class="text-center">Let's see what your water intake is looking like... </h1>
    <div class="child">
   
  <div class="child">
    <div class = "border p-3 shadow">
      <h4>Water Intake (L):</h4>
      <hr>
      <form method="POST">
          {% csrf_token %}
          {{ form }}
          <!-- <label for="water_intake">Add your water intake here:</label>
          <input type="text" name='water-intake' id='value'  >
          <input class = 'btn btn-success btn-block' type='submit' id='value' value = 'Log my intake!'> -->
          <input type="text" placeholder="Type something..." id="myInput">
          <button type="button" onclick="getInputValue();">Log my intake!</button>
          
      </form>
      <script>
      function getInputValue(){
            // Selecting the input element and get its value 
            var inputVal = document.getElementById("myInput").value;
            
            // Displaying the value
            var array = [3.7, 2.7];
            array.unshift(inputVal);
            rungraph(array);

            // if (inputVal > 0.1) {
            //   output = ''
            // }
          
            // alert(output)
        }

        
      </script>
  </div>
    </div>


    <div>
         <!-- Here is the water graph to track your water -->
         <canvas id="myChart3" width="400" height="400" ></canvas>
         <script>
        function rungraph(array){
        
         const ctx = document.getElementById('myChart3').getContext('2d');
         const myChart = new Chart(ctx, {
             type: 'bar',
             data: {
                 labels: ['Your Intake', "Men need 3.7L/day", 'Women need 2.7L/day'], // days go here
                 datasets: [{
                     label: 'L/day of Water',
                     data: array, // amount of water goes here
                     backgroundColor: [
                         'rgba(255, 99, 132, 0.2)',
                         'rgba(54, 162, 235, 0.2)',
                         'rgba(255, 206, 86, 0.2)',
                         'rgba(75, 192, 192, 0.2)',
                         'rgba(153, 102, 255, 0.2)',
                         'rgba(255, 159, 64, 0.2)'
                     ],
                     borderColor: [
                         'rgba(255, 99, 132, 1)',
                         'rgba(54, 162, 235, 1)',
                         'rgba(255, 206, 86, 1)',
                         'rgba(75, 192, 192, 1)',
                         'rgba(153, 102, 255, 1)',
                         'rgba(255, 159, 64, 1)'
                     ],
                     borderWidth: 1
                 }]
             },
             options: {
               responsive: false,
                 scales: {
                     y: {
                         beginAtZero: true
                     }
                 }
             }
             
         });

         }
         </script>
    </div>
    
  </section>


   <!--Journal Entry display and Editing-->
   <section class='text-center container-sm'>
    <br>
    <h1><b>JOURNAL ENTRIES</b></h1>
        
    <a class='btn btn-primary' href="{% url 'api' %}">Add Entry</a>
  
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Meal</th>
                  <th scope="col">Food</th>
                  <th scope="col">Servings</th>
                </tr>
              </thead> 
              <tbody>
              {% for journalentry in journalentry %}
                <tr>
                  <td>{{journalentry.date}}</td>
                  <td>{{journalentry.meal}}</td>
                  <td>{{journalentry.food_name}}</td>
                  <td>{{journalentry.servings}}</td>
                  <td><a class="btn btn-primary" href="{% url 'showSingleEntry' journalentry_id=journalentry.id %}">Edit</a></td>
                  <td><a class="btn btn-primary" href="{% url 'deleteEntry' journalentry_id=journalentry.id %}">Delete</a></td>
                </tr>
              {% endfor %} 
              </tbody>
            </table> 
    </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

   
      
{% endblock %}
